<body>
  <div class="container">
    <div class="title">Ride Mate</div>
    <div class="buttons">
        <a href="/login" class="button">ログイン</a>
        <a href="/signup" class="button">新規登録</a>
    </div>
  </div>
</body>