body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.container {
  text-align: center;
  background: #ffffff;
  padding: 40px;
  border: 1px solid #ddd;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  max-width: 600px;
  width: 100%;
}

.title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; /* ボタンが画面幅に収まらない場合に改行 */
}

.user_nav {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.25rem;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
